*, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: normal;
    color: #141414;
    scroll-behavior: smooth;
    scroll-margin: 60px;
}

html, body {
    height: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
    padding-bottom: 60px;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: bold;
    margin: 40px 0px 0px 0px;
    font-size: 24px;
}

h2 {
    font-weight: bold;
    margin: 20px 0px;
}

.wrapper {
    width: 100%;
    max-width: 900px;
}

.header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c2c2c;
    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        color: #f1f1f1;
        font-size: 32px;
        font-weight: bold;
    }
    &__link {
        color: #f1f1f1;
        font-weight: bold;
        margin-right: 20px;
        &:last-child {
            margin-right: 0px;
        }
    }
}

section {
    margin-bottom: 20px;
}

footer {
    display: block;
    width: 100%;
    height: calc(100% - 54px);
    background: #1f1f1f;
}